*
{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

html
{
    font-size: 70%;
    overflow-x: hidden;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a
{
    font-size: 1.7rem;
    color: white;
    font-weight: 500;
    margin-left: 3.5rem;
}

.logo
{
  width: 20vh;
}

.navbar a:hover, .navbar a.active
{
    color: yellow;
}

#menu-icon
{
    font-size: 3.6rem;
    color: white;
    cursor: pointer;
    display: none;
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home
{
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content
{
    max-width: 100vh;
    margin-top: 100px;
}

.home-content h1
{
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1;
}

.home-content .text-animate
{
    position: relative;
}

span
{
    color: #f3cd33;
}

.home-content p
{
    font-size: 2rem;
    margin: 3rem 0 4rem 0;
    text-align: left;
    line-height: 3rem;
}

.home-content a
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #f3cd33;
    color: black;
    width: 20rem;
    height: 50px;
    border: .2rem solid yellow;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.home-content .images
{
    width: 40%;
    height: 40vw;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.home-content .images img
{
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape
{
    bottom: 5%;
}

.images:hover .me
{
    left: 45%;
}

hr
{
    background-color: #f3cd33;
    border: none;
    height: 2px;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}